@model UMWebApplication.Models.conference

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>conference</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.conference_number)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.conference_number)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.venueid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.venueid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.spakerid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.spakerid)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
