@model IEnumerable<UMWebApplication.Models.venue>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.venuename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venuetype)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.venuecapacity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.venuename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venuetype)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.venuecapacity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.venueID }) |
            @Html.ActionLink("Details", "Details", new { id=item.venueID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.venueID })
        </td>
    </tr>
}

</table>
